--
-- PostgreSQL database dump
--

\restrict QoLkYXUBTNnIOUhUoKWTFhsqlTEdTV7v38CqwpM5p1Ea3mEYzsciZ7h6VFWHdWJ

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg12+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: conversation_status; Type: TYPE; Schema: public; Owner: ca
--

CREATE TYPE public.conversation_status AS ENUM (
    'OPEN',
    'ESCALATED',
    'CLOSED'
);


ALTER TYPE public.conversation_status OWNER TO ca;

--
-- Name: document_visibility; Type: TYPE; Schema: public; Owner: ca
--

CREATE TYPE public.document_visibility AS ENUM (
    'ADMIN_ONLY',
    'USER_SPECIFIC',
    'PUBLIC'
);


ALTER TYPE public.document_visibility OWNER TO ca;

--
-- Name: escalation_status; Type: TYPE; Schema: public; Owner: ca
--

CREATE TYPE public.escalation_status AS ENUM (
    'PENDING',
    'ACK',
    'RESOLVED'
);


ALTER TYPE public.escalation_status OWNER TO ca;

--
-- Name: message_sender_role; Type: TYPE; Schema: public; Owner: ca
--

CREATE TYPE public.message_sender_role AS ENUM (
    'USER',
    'BOT',
    'CARE'
);


ALTER TYPE public.message_sender_role OWNER TO ca;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: ca
--

CREATE TABLE public.conversations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    status public.conversation_status DEFAULT 'OPEN'::public.conversation_status NOT NULL,
    assigned_admin_id uuid,
    last_message_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    summary text DEFAULT ''::text,
    summary_updated_at timestamp without time zone
);


ALTER TABLE public.conversations OWNER TO ca;

--
-- Name: document_chunks; Type: TABLE; Schema: public; Owner: ca
--

CREATE TABLE public.document_chunks (
    id text DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    chunk_index integer NOT NULL,
    page_number integer,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_chunks OWNER TO ca;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: ca
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    filename text NOT NULL,
    mime_type text DEFAULT 'application/pdf'::text NOT NULL,
    storage_path text NOT NULL,
    visibility public.document_visibility NOT NULL,
    owner_user_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_owner_required_when_user_specific CHECK (((visibility <> 'USER_SPECIFIC'::public.document_visibility) OR (owner_user_id IS NOT NULL)))
);


ALTER TABLE public.documents OWNER TO ca;

--
-- Name: escalations; Type: TABLE; Schema: public; Owner: ca
--

CREATE TABLE public.escalations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    conversation_id uuid NOT NULL,
    requested_by_user_id uuid NOT NULL,
    status public.escalation_status DEFAULT 'PENDING'::public.escalation_status NOT NULL,
    ack_by_admin_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.escalations OWNER TO ca;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: ca
--

CREATE TABLE public.messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    conversation_id uuid NOT NULL,
    sender_role public.message_sender_role NOT NULL,
    sender_user_id uuid,
    content text NOT NULL,
    metadata jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    chunk_ids text[] DEFAULT '{}'::text[]
);


ALTER TABLE public.messages OWNER TO ca;

--
-- Name: COLUMN messages.chunk_ids; Type: COMMENT; Schema: public; Owner: ca
--

COMMENT ON COLUMN public.messages.chunk_ids IS 'IDs des chunks RAG utilis├®s pour g├®n├®rer cette r├®ponse (uniquement pour messages BOT)';


--
-- Name: users; Type: TABLE; Schema: public; Owner: ca
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    role text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['USER'::text, 'ADMIN'::text, 'CARE'::text])))
);


ALTER TABLE public.users OWNER TO ca;

--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: document_chunks document_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT document_chunks_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: escalations escalations_pkey; Type: CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.escalations
    ADD CONSTRAINT escalations_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: document_chunks uq_document_chunk; Type: CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT uq_document_chunk UNIQUE (document_id, chunk_index);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_conversations_status; Type: INDEX; Schema: public; Owner: ca
--

CREATE INDEX idx_conversations_status ON public.conversations USING btree (status);


--
-- Name: idx_conversations_user_id; Type: INDEX; Schema: public; Owner: ca
--

CREATE INDEX idx_conversations_user_id ON public.conversations USING btree (user_id);


--
-- Name: idx_document_chunks_document_id; Type: INDEX; Schema: public; Owner: ca
--

CREATE INDEX idx_document_chunks_document_id ON public.document_chunks USING btree (document_id);


--
-- Name: idx_document_chunks_document_id_chunk_index; Type: INDEX; Schema: public; Owner: ca
--

CREATE INDEX idx_document_chunks_document_id_chunk_index ON public.document_chunks USING btree (document_id, chunk_index);


--
-- Name: idx_documents_owner_user_id; Type: INDEX; Schema: public; Owner: ca
--

CREATE INDEX idx_documents_owner_user_id ON public.documents USING btree (owner_user_id);


--
-- Name: idx_documents_visibility; Type: INDEX; Schema: public; Owner: ca
--

CREATE INDEX idx_documents_visibility ON public.documents USING btree (visibility);


--
-- Name: idx_escalations_status_created_at; Type: INDEX; Schema: public; Owner: ca
--

CREATE INDEX idx_escalations_status_created_at ON public.escalations USING btree (status, created_at DESC);


--
-- Name: idx_messages_conversation_id; Type: INDEX; Schema: public; Owner: ca
--

CREATE INDEX idx_messages_conversation_id ON public.messages USING btree (conversation_id);


--
-- Name: uq_escalations_conversation_id; Type: INDEX; Schema: public; Owner: ca
--

CREATE UNIQUE INDEX uq_escalations_conversation_id ON public.escalations USING btree (conversation_id);


--
-- Name: conversations conversations_assigned_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_assigned_admin_id_fkey FOREIGN KEY (assigned_admin_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: conversations conversations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: document_chunks document_chunks_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT document_chunks_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: documents documents_owner_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_owner_user_id_fkey FOREIGN KEY (owner_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: escalations escalations_ack_by_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.escalations
    ADD CONSTRAINT escalations_ack_by_admin_id_fkey FOREIGN KEY (ack_by_admin_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: escalations escalations_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.escalations
    ADD CONSTRAINT escalations_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: escalations escalations_requested_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.escalations
    ADD CONSTRAINT escalations_requested_by_user_id_fkey FOREIGN KEY (requested_by_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: messages messages_sender_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ca
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_user_id_fkey FOREIGN KEY (sender_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict QoLkYXUBTNnIOUhUoKWTFhsqlTEdTV7v38CqwpM5p1Ea3mEYzsciZ7h6VFWHdWJ

